
@mixin titulo-h1 ($size-h1) {

    font-family: $font-titulo;
    font-size: $size-h1; 
    color: $color-seis;
}

/* mixins  h3 parrafo */


@mixin titulos-h3 ( $size-h3 ) {

    font-family: $font-parrafo;
    color: $color-uno;
    font-size: $size-h3;
}

@mixin parrafo ( $size-parrafo ) {

    font-family: $font-parrafo;
    color: $color-seis;
    font-size: $size-parrafo;

}




@mixin titulo-h2 ( $size-h2, $color-h2 ) {

    font-family: $font-titulo;
    font-size: $size-h2;
    color: $color-h2;
    text-shadow: 1px 1px 1px $color-cinco;
}

@mixin subtitulo ($color-subtitulo) {
    
    font-family: $font-parrafo;
    color: $color-subtitulo;
    text-shadow: 1px 1px 1px $color-cinco;
    font-size: 1.3vmax;
}










/* mixins botones */

@mixin botones {
    
    font-family: $font-parrafo;
    text-decoration: none;
    color: $color-cinco;
    background-color: $color-uno;
    padding: 0.5vmax 2.5vmax;
    border-radius:0 0.6vmax 0 0.6vmax;
    
    
}

@mixin botones-hover {

    
    color: $color-seis;
    background-color: $color-dos;
    

}






/* bloque inteligencia artificial */     



@mixin articulo-h1 {

    font-family: $font-titulo;
    color: $color-cinco;
    font-size: 2.5vmax;
    padding-bottom: 2.5vmax;

}


@mixin articulo-subtit {

    font-family: $font-tres;
    font-size: 1.8vmax;
    color: $color-cinco;
    font-weight: bold;
    padding-bottom: 1vmax;
}


@mixin articulo-parrafo {

    font-family: $font-parrafo;
    color: $color-cinco;
    font-size: 1.2vmax;
    padding-bottom: 1vmax;
    box-sizing: border-box;


}
